<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Suite" data-provider-thread-count="2">
	<listeners>
		<listener class-name="com.karan.orangehrm.listeners.ListenerClass"></listener>
		<listener class-name="com.karan.orangehrm.listeners.MethodInterceptorImpl"></listener>
		<listener class-name="com.karan.orangehrm.listeners.AnnotationTransformerImpl"></listener>
	</listeners>
	<test thread-count="2" parallel="methods" name="Test">
		<classes>
			<!-- <class name="com.karan.orangehrm.tests.LoginLogoutTest" /> -->
			<class name="com.karan.orangehrm.tests.AddEmployeeTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
